.weather {
    border: 1px solid #dadde1;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px #41326414;
    color: #878787;
    font-family: Cerebri-sans,Arial, Helvetica, sans-serif;
    padding: 40px;
    margin: 30px auto;
    max-width: 600px;
  }
  .weather form{
    margin-bottom: 20px;
  }
  .weather h1{
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
  }
  .weather ul{
    margin: 0;
    padding: 0;

  }
  .weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  } 
  